body {
  background-color: black;
  text-align: center;
  color: white;
}
html{
  height: 100%;
  width: 100%;

#myCanvas {
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS-5i1rd-sJAzidCyUFG0T7fdfxcpjrEP9p2Q&s");
  background-size: 400px 400px;
  border-radius: 40px;
  border: 4px solid
    rgb(18,83,169);
}

.main{
  display: flex;
  text-align: left;
  justify-content: space-around;
}

